$bg-primary: #ea7c69;
$bg-secondary: #252836;
$bg-dark: #1f1d2b;
$bg-input: #2D303E;

$color-primary: #ffffff;
$color-secondary: #abbbc2;

$box-shadow: 0px 8px 24px rgba(234, 124, 105, 0);
$box-shadow-hover: 0px 8px 24px rgba(234, 124, 105, 0.5);

$tr-width: width 0.4s ease;
$tr-height: height 0.4s ease;
$tr-opacity: opacity 0.4s ease;
$tr-color: color 0.4s ease;
$tr-background-color: background-color 0.4s ease;
$tr-translate: translate 0.4s ease;
$tr-box-shadow: box-shadow 0.4s ease;

$border: 1px solid #393c49;